@model DNCD.Services.API.Proxy.Domains.CustomerDomain

<h1>Customer Details</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phonenumber</th>
    </tr>
        <tr>
            <td>@Model.ID</td>
            <td>@Model.Name</td>
            <td>@Model.Email</td>
            <td>@Model.Address</td>
            <td>@Model.PhoneNumber</td>
        </tr>

</table>
